@charset "utf-8";
/* CSS Document */

body {font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif; background-color:#CEECF7;
}

header {
	border: solid;
	padding-left: 15px;
	background-color: blue;
	color: yellow;
	position: relative;
}

header img {
	position:absolute;
	margin:0;
	padding:0;
	top:8px;
}

header h1 {
	position:abolsulte;
	padding-left:120px;
}

header ul {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 20px;
}

header ul li {
	display: inline;
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
	border: thin yellow solid;
}

#registerButton h2{position:absolute;
	left:750px;
	top:120px;
	background-color:#E8D6B8;
	color:blue;
	border: solid black;
	max-width: 280px;
	padding:8px;
}


#net {
	position:absolute;
	left:360px;
	top:200px;
	opacity: 0.35;
}

table {
	position:absolute;
	left:380px;
	top:250px;
}

table,th {text-align:left;
}

table, th, td {
	border: 1px solid black;
	font-weight: bold;
	padding-left:5px;
}

#facilities  {
	float:right;
 	margin-left:1400px; 
	margin-right:10px; 
	position:absolute; 
	top:120px;
}

#facilities h3 {
	border:solid yellow; 
	background-color:blue; 
	color:yellow; 
	padding: 8px; 
	font-size: x-large;
}

#facilities li {
	list-style:square; 
	padding-top:15px; 
	color: blue; 

}

#announcments {
	position:absolute;
	top:450px;
	float:right;
	margin-left:1400px;
	margin-right:10px;
}

#announcments h4 {
	border:solid yellow; 
	background-color: blue;
	color: yellow;
	padding: 8px;
	font-size: x-large;
}
	
#announcments li {
	list-style: square;
	padding-top: 15px;
	color: blue;
	list-style-type: square;
}

#welcome {
	position:relative;
}

#welcome h5 {
	position:absolute;  
	border:solid yellow; 
	background-color:blue; 
	color:yellow; 
	font-size: x-large;
	padding: 8px;
}

#welcome p {
	position:absolute;
	top:120px;
	max-width:325px;
	color:blue;
	line-height:150%;
	margin-left:10px;
}

footer  {
	position:absolute;
	bottom:0px;
	margin-left:30%;
}

footer ul li {
	display:inline;
	list-style:none;
	padding-left: 20px;
	padding-right: 20px;
	border: thin yellow solid;
	background-color:blue;
	color:yellow;
	font-size:x-small;
}


