@charset "utf-8";
/* CSS Document */

body {font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif; background-color:#CEECF7;
}

header {
	border: solid;
	padding-left: 15px;
	background-color:#03166E;
	color: yellow;
	position: relative;
}

header img {
	position:absolute;
	margin:0;
	padding:0;
	top:8px;
}

header h1 {
	position:abolsulte;
	padding-left:120px;
}

header ul {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 20px;
}

header ul li {
	display: inline;
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
	border: thin yellow solid;
}

#registerButton h2{position:absolute;
	left:690px;
	top:120px;
	background-color:#E8D6B8;
	color:blue;
	border: solid black;
	max-width: 290px;
	padding:8px;
}


#net {
	position:absolute;
	left:370px;
	top:200px;
	opacity: 0.35;
}

#standings table {position:absolute;
	left:395px;
	top:250px;
}

#standings table, th {text-align:left;
}

#standings table, th, td {border: 1px solid black;
	font-weight: bold;
	padding-left:5px;
}

#facilities  {
	float:right;
 	margin-left:1400px; 
	margin-right:10px; 
	position:absolute; 
	top:120px;
}

#facilities h3 {
	border:solid yellow; 
	background-color:#03166E; 
	color:yellow; 
	padding: 8px; 
	font-size: x-large;
}

#facilities li {
	list-style:square; 
	padding-top:15px; 
	color: blue; 
	padding-right:10px;

}

#announcments {
	position:absolute;
	top:500px;
	float:right;
	margin-left:1400px;
	margin-right:10px;
}

#announcments h4 {
	border:solid yellow; 
	background-color: #03166E;
	color: yellow;
	padding: 8px;
	margin-bottom:-15px;
	margin-right:10px;
	font-size: x-large;
}
	
#announcments li {
	list-style: square;
	padding-top: 15px;
	color: blue;
	padding-right:10px;
}

#welcome {
	position:relative;
}

#welcome h5 {
	position:absolute;  
	border:solid yellow; 
	background-color:#03166E; 
	color:yellow; 
	font-size: x-large;
	padding: 8px;
}

#welcome p {
	position:absolute;
	top:120px;
	max-width:325px;
	color:#03166E;
	line-height:150%;
	margin-left:10px;
}

footer  {
	position:absolute;
	bottom:0px;
	margin-left:30%;
}

footer ul li {
	display:inline;
	list-style:none;
	padding-left: 20px;
	padding-right: 20px;
	border: thin yellow solid;
	background-color:#03166E;
	color:yellow;
	font-size:x-small;
}

#overview {max-width: 750px; margin-left:10px; line-height:150%; float:left;

}

#vbg {
	float:right;
	padding-top:50px;
	margin-right:160px;
	}
.contact {
	display: inline-block;
	min-width: 80px;
}


#contactblock {
	border: solid #03166E medium;
	max-width:500px;
	margin-left:20px;
	padding-left:15px;
	margin-top: 50px;
	float:left;
}

a:link {
	color:yellow;
}

a:visited {
	color:white;
}

#contactblock a:link {
	color:blue;
}

p a:link {
	color:blue;
}

p a:visited {
	color:#7322F5
}

#register {
	max-width:500px;
	margin-left:15px;
	float:left;
}

form {
	max-width:700px;
	margin-left:20px;
}

.formhead {
	text-decoration:underline;
	font-weight:bolder;
}

#spike {
	float:right;
	margin-right:200px;
	margin-top:50px;
	border-style:solid;
	
}

#girlspike {
	float:right;
	margin-right:500px;
	margin-top:50px;
	border-style:solid;
}
	